:root{
	--red:#e84023;
	--black:#050504;
	--gray:#212221;
	--lightgray:#7a7a7a;
	--white:#ffffff;
}
*{margin: 0px; padding: 0px; box-sizing: border-box; font-family: system-ui;}
.resume-main{
	background: var(--black);
	margin: 50px auto;
	height: 1950px;
	width: 850px;
	padding: 50px;
	position: relative;
}
h1{color: var(--red); font-size: 70px;}
.p1{color: var(--lightgray);}
.about{width: 50%; float: left;}
.profile{width: 70%; float: left;}
.profile {width: 50%; float: left; text-align: center;}
.icon-p{color: var(--white);font-size: 15px; margin-top: 10px;
margin-bottom: 20px;}
.icon-p .fa{color: var(--white); padding-right: 10px;}
.clearfix{
	clear: both;
}
h2{color: var(--white); font-weight: normal; font-size: 22px; margin-top: 40px;
text-transform: uppercase;}
.box-1{border: 1px solid var(--gray); width: 310px; height: 100px; float:left;
position: relative; padding: 25px;}
.no{font-size: 0px; color: var(--lightgray); position: absolute;
right: 10px; top: 10px;}
h3{
	color: var(--red); font-size: 18px;text-transform: uppercase;
}

h4{
	color: var(--red); font-size: 16px;margin-top: 10px;
margin-bottom: 15px;}
.p2{color: var(--lightgray); width: 170px;}
.box-2{border: 1px solid var(--gray); width: 200px; height: 100px; float:left;
position: relative; padding: 25px;}

.box-3{border: 1px solid var(--gray); width: 200px; height: 100px; float:left;
position: relative; padding: 25px;}

.box-4{border: 1px solid var(--gray); width: 200px; height: 100px; float:left;
position: relative; padding: 25px;}
